In [26]:
from pyspark.sql import SparkSession
import os
import subprocess
from pyspark.sql.functions import col, udf
from pyspark.sql.types import IntegerType
from pyspark.ml.feature import VectorAssembler
# import pyspark.pandas as ps

In [2]:
spark = SparkSession.builder.master("local[4]").appName("Transform").config("spark.ui.port", '4050').getOrCreate()
sc = spark.sparkContext

24/12/18 20:52:12 WARN Utils: Your hostname, Jacobs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.104 instead (on interface en0)
24/12/18 20:52:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/18 20:52:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/12/18 20:52:13 WARN Utils: Service 'SparkUI' could not bind on port 4050. Attempting port 4051.

In [3]:
fileName = subprocess.check_output('ls extractedDataset | grep ".*.csv"', shell=True, text=True).removesuffix('\n')
path = os.getcwd() + "/extractedDataset/" + fileName
df = spark.read.csv(path, header=True, nullValue='')

In [4]:
print(df.show())

+-------------+------------+-----------------+--------------------+-----------------+-----------+--------------+-------------+--------+---------------+
|accessionYear|artistGender|artistNationality|             culture|       department|isHighlight|isTimelineWork|objectEndDate|objectID|     objectName|
+-------------+------------+-----------------+--------------------+-----------------+-----------+--------------+-------------+--------+---------------+
|         1979|        NULL|         American|                NULL|The American Wing|      false|         false|         1907|      14|           Coin|
|         1989|        NULL|         American|            American|The American Wing|      false|         false|         1814|     108|        Andiron|
|         1946|        NULL|             NULL|                NULL|The American Wing|      false|         false|         1890|     366|         Basket|
|         1946|        NULL|             NULL|            American|The American Wing|      false|         false|         1870|     540| Bitters bottle|
|         1937|        NULL|             NULL|            American|The American Wing|      false|         false|         1800|     653|Bottle fragment|
|         1946|        NULL|         American|            American|The American Wing|      false|         false|         1880|     779|           Bowl|
|         1910|        NULL|             NULL|Chinese, for Amer...|The American Wing|      false|         false|         1790|     856|           Bowl|
|         1910|        NULL|             NULL|Chinese, for Amer...|The American Wing|      false|         false|         1790|     867|           Bowl|
|         1917|        NULL|             NULL|             Mexican|The American Wing|      false|         false|         1845|     895|            Cup|
|         1883|        NULL|             NULL|                NULL|The American Wing|      false|         false|         1800|     906|            Box|
|         1973|        NULL|             NULL|            American|The American Wing|      false|         false|         1896|    2791|            Cup|
|         1910|        NULL|             NULL|Chinese, for Amer...|The American Wing|      false|         false|         1790|     992|    Bread plate|
|         1934|        NULL|             NULL|            American|The American Wing|      false|         false|         1790|    1054|    Butter mold|
|         1965|        NULL|             NULL|            American|The American Wing|      false|         false|         1820|    1906|     Side Chair|
|         1950|        NULL|         American|            American|The American Wing|      false|         false|         1889|    1919|        Drawing|
|         1910|        NULL|             NULL|                NULL|The American Wing|      false|         false|         1800|    2066|          Churn|
|         1946|        NULL|             NULL|            American|The American Wing|      false|         false|         1890|    2687|      Cream pot|
|         1969|        NULL|         American|            American|The American Wing|      false|         false|         1885|    4905| Luncheon plate|
|         1946|        NULL|         American|            American|The American Wing|      false|         false|         1798|    4935|         Mantel|
|         1883|        NULL|           French|                NULL|The American Wing|      false|         false|         1830|    4954|          Medal|
+-------------+------------+-----------------+--------------------+-----------------+-----------+--------------+-------------+--------+---------------+
only showing top 20 rows

None

In [5]:
print(df.describe().show())

24/12/18 20:52:26 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+------------+-----------------+-----------------+--------------------+-----------+--------------+------------------+------------------+--------------------+
|summary|     accessionYear|artistGender|artistNationality|          culture|          department|isHighlight|isTimelineWork|     objectEndDate|          objectID|          objectName|
+-------+------------------+------------+-----------------+-----------------+--------------------+-----------+--------------+------------------+------------------+--------------------+
|  count|              5028|         128|             2671|             1690|                5048|       5048|          5048|              5048|              5048|                5027|
|   mean|1956.0318915686664|        NULL|             NULL|             NULL|                NULL|       NULL|          NULL|1411.4724643423137| 403327.7834786054|                NULL|
| stddev| 35.73250594529043|        NULL|             NULL|             NULL|                NULL|       NULL|          NULL|  982.326369053752|246533.23984043233|                NULL|
|    min|              1872|      Female|          Afghani|       Achaemenid|Ancient Near East...|      false|         false|                -1|             10023|"Shield frieze" F...|
|    max|             Print|      Female|       Venezuelan|probably Peruvian|The Michael C. Ro...|       true|          true|               999|             99573|                Ã‰tui|
+-------+------------------+------------+-----------------+-----------------+--------------------+-----------+--------------+------------------+------------------+--------------------+

None

In [6]:
#create custom function to convert gender column to boolean indicating if artist is female
# 0=Male, 1=Female
# in the database, they only store a value in the gender field if the artist is female
# otherwise it is null
def convertGender(s):
    if s == 'male':
        return 0
    else:
        return 1
# register user defined functions
convertGenderUDF = udf(lambda x:convertGender(x), IntegerType())

# take artistGender column, apply user-defined function to columns and put it in new column 
def genderColumn(df):
    # change nulls to male here because I don't know what datatype spark uses to represent nulls
    # So I cant detect if a value is null when I'm applying convertGender to each individual value in the column
    x = df.na.fill(value='male', subset=['artistGender'])
    # create new column that is made from applying the custom function to the gender column
    x = x.withColumn("isFemale", convertGenderUDF(col("artistGender")))
    x = x.drop(col("artistGender"))
    return x

In [7]:
# create dummy variables for department column
# meaning we add a column for each department, in each of these columns,
# the value will be 1 if that object is in that department, otherwise it is 0
# def departmentColumn(df):

In [8]:
def transformDataset(df):
    # in the database, they only store a value in the gender field if the artist is female
    # otherwise it is null
    # if there are multiple artists attributed to an object, the gender of each artist is shown, separated by a '|'
    x = genderColumn(df)
    # change the department column to a series of dummy variables
    # since there are a small number of distinct departments (X)
    return x

In [10]:
mod_df = transformDataset(df)
mod_df.show()

+-------------+-----------------+--------------------+-----------------+-----------+--------------+-------------+--------+---------------+--------+
|accessionYear|artistNationality|             culture|       department|isHighlight|isTimelineWork|objectEndDate|objectID|     objectName|isFemale|
+-------------+-----------------+--------------------+-----------------+-----------+--------------+-------------+--------+---------------+--------+
|         1979|         American|                NULL|The American Wing|      false|         false|         1907|      14|           Coin|       0|
|         1989|         American|            American|The American Wing|      false|         false|         1814|     108|        Andiron|       0|
|         1946|             NULL|                NULL|The American Wing|      false|         false|         1890|     366|         Basket|       0|
|         1946|             NULL|            American|The American Wing|      false|         false|         1870|     540| Bitters bottle|       0|
|         1937|             NULL|            American|The American Wing|      false|         false|         1800|     653|Bottle fragment|       0|
|         1946|         American|            American|The American Wing|      false|         false|         1880|     779|           Bowl|       0|
|         1910|             NULL|Chinese, for Amer...|The American Wing|      false|         false|         1790|     856|           Bowl|       0|
|         1910|             NULL|Chinese, for Amer...|The American Wing|      false|         false|         1790|     867|           Bowl|       0|
|         1917|             NULL|             Mexican|The American Wing|      false|         false|         1845|     895|            Cup|       0|
|         1883|             NULL|                NULL|The American Wing|      false|         false|         1800|     906|            Box|       0|
|         1973|             NULL|            American|The American Wing|      false|         false|         1896|    2791|            Cup|       0|
|         1910|             NULL|Chinese, for Amer...|The American Wing|      false|         false|         1790|     992|    Bread plate|       0|
|         1934|             NULL|            American|The American Wing|      false|         false|         1790|    1054|    Butter mold|       0|
|         1965|             NULL|            American|The American Wing|      false|         false|         1820|    1906|     Side Chair|       0|
|         1950|         American|            American|The American Wing|      false|         false|         1889|    1919|        Drawing|       0|
|         1910|             NULL|                NULL|The American Wing|      false|         false|         1800|    2066|          Churn|       0|
|         1946|             NULL|            American|The American Wing|      false|         false|         1890|    2687|      Cream pot|       0|
|         1969|         American|            American|The American Wing|      false|         false|         1885|    4905| Luncheon plate|       0|
|         1946|         American|            American|The American Wing|      false|         false|         1798|    4935|         Mantel|       0|
|         1883|           French|                NULL|The American Wing|      false|         false|         1830|    4954|          Medal|       0|
+-------------+-----------------+--------------------+-----------------+-----------+--------------+-------------+--------+---------------+--------+
only showing top 20 rows

In [24]:
columns = mod_df.columns
columns.remove('isHighlight')
print(columns)

['accessionYear', 'artistNationality', 'culture', 'department', 'isTimelineWork', 'objectEndDate', 'objectID', 'objectName', 'isFemale']

In [145]:
# drop culture because it has a ton of nulls, I think artist nationality along with the department it's from and year
#  it was made will still allow you to somewhat infer the culture it came from
no_nulls = mod_df.drop('culture')
# can't have null values in model
no_nulls = no_nulls.dropna()
no_nulls.count()

2649

In [146]:
from pyspark.ml.feature import Tokenizer
# change strings in nationality column to list of tokens, which is just each word in the string
nationalityTokenizer = Tokenizer(outputCol="nationalityWords")
nationalityTokenizer.setInputCol("artistNationality")
df2 = nationalityTokenizer.transform(no_nulls)

In [149]:
from pyspark.ml.feature import Word2Vec
# word2vec doesn't really extract any interesting patterns from the nationality column
# but it does help in reducing its dimensions
# in the bag of words approach, there were 108 dimensions
word2vec = Word2Vec(vectorSize=5, inputCol="nationalityWords", outputCol='nationalityVec', seed=123)
m2 = word2vec.fit(df2)
df3 = m2.transform(df2)
df3.show()

+-------------+-----------------+-----------------+-----------+--------------+-------------+--------+--------------------+--------+----------------+--------------------+
|accessionYear|artistNationality|       department|isHighlight|isTimelineWork|objectEndDate|objectID|          objectName|isFemale|nationalityWords|      nationalityVec|
+-------------+-----------------+-----------------+-----------+--------------+-------------+--------+--------------------+--------+----------------+--------------------+
|         1979|         American|The American Wing|      false|         false|         1907|      14|                Coin|       0|      [american]|[0.05077309161424...|
|         1989|         American|The American Wing|      false|         false|         1814|     108|             Andiron|       0|      [american]|[0.05077309161424...|
|         1946|         American|The American Wing|      false|         false|         1880|     779|                Bowl|       0|      [american]|[0.05077309161424...|
|         1950|         American|The American Wing|      false|         false|         1889|    1919|             Drawing|       0|      [american]|[0.05077309161424...|
|         1969|         American|The American Wing|      false|         false|         1885|    4905|      Luncheon plate|       0|      [american]|[0.05077309161424...|
|         1946|         American|The American Wing|      false|         false|         1798|    4935|              Mantel|       0|      [american]|[0.05077309161424...|
|         1883|           French|The American Wing|      false|         false|         1830|    4954|               Medal|       0|        [french]|[0.07720941305160...|
|         1983|         American|The American Wing|      false|         false|         1850|    5452|                Lamp|       0|      [american]|[0.05077309161424...|
|         1913|         American|The American Wing|      false|         false|         1774|    4008|            Fragment|       0|      [american]|[0.05077309161424...|
|         1946|         American|The American Wing|      false|         false|         1890|    4110|              Goblet|       0|      [american]|[0.05077309161424...|
|         1969|         American|The American Wing|      false|         false|         1887|    3115|Demitasse cup and...|       0|      [american]|[0.05077309161424...|
|         1967|         American|The American Wing|      false|         false|         1902|    4730|          Lamp shade|       0|      [american]|[0.05077309161424...|
|         1883|           French|The American Wing|      false|         false|         1800|    5158|           Medallion|       0|        [french]|[0.07720941305160...|
|         1933|         American|The American Wing|      false|         false|         1850|    5347|                 Mug|       0|      [american]|[0.05077309161424...|
|         1933|         American|The American Wing|      false|         false|         1830|    5812|           Cream pot|       0|      [american]|[0.05077309161424...|
|         1933|         American|The American Wing|      false|         false|         1805|    5837|           Cream pot|       0|      [american]|[0.05077309161424...|
|         1961|         American|The American Wing|      false|         false|         1886|    5841|             Pitcher|       0|      [american]|[0.05077309161424...|
|         1933|         American|The American Wing|      false|         false|         1820|    8723|               Tongs|       0|      [american]|[0.05077309161424...|
|         1969|         American|The American Wing|      false|         false|         1885|    6572|             Platter|       0|      [american]|[0.05077309161424...|
|         1913|         American|The American Wing|      false|         false|         1775|    8197|             Tankard|       0|      [american]|[0.05077309161424...|
+-------------+-----------------+-----------------+-----------+--------------+-------------+--------+--------------------+--------+----------------+--------------------+
only showing top 20 rows

In [159]:
#change department to one hot encoding, since this is categorical
from pyspark.ml.feature import OneHotEncoder, StringIndexer
stringid = StringIndexer(inputCol='department', outputCol='departmentIndex')
m3 = stringid.fit(dataset=df3)
df4 = m3.transform(df3)

ohe = OneHotEncoder(inputCol='departmentIndex', outputCol='departmentCode')
m4 = ohe.fit(df4)
df5 = m4.transform(df4)
df5.show()

+-------------+-----------------+-----------------+-----------+--------------+-------------+--------+--------------------+--------+----------------+--------------------+---------------+--------------+
|accessionYear|artistNationality|       department|isHighlight|isTimelineWork|objectEndDate|objectID|          objectName|isFemale|nationalityWords|      nationalityVec|departmentIndex|departmentCode|
+-------------+-----------------+-----------------+-----------+--------------+-------------+--------+--------------------+--------+----------------+--------------------+---------------+--------------+
|         1979|         American|The American Wing|      false|         false|         1907|      14|                Coin|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1989|         American|The American Wing|      false|         false|         1814|     108|             Andiron|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1946|         American|The American Wing|      false|         false|         1880|     779|                Bowl|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1950|         American|The American Wing|      false|         false|         1889|    1919|             Drawing|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1969|         American|The American Wing|      false|         false|         1885|    4905|      Luncheon plate|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1946|         American|The American Wing|      false|         false|         1798|    4935|              Mantel|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1883|           French|The American Wing|      false|         false|         1830|    4954|               Medal|       0|        [french]|[0.07720941305160...|            5.0|(16,[5],[1.0])|
|         1983|         American|The American Wing|      false|         false|         1850|    5452|                Lamp|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1913|         American|The American Wing|      false|         false|         1774|    4008|            Fragment|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1946|         American|The American Wing|      false|         false|         1890|    4110|              Goblet|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1969|         American|The American Wing|      false|         false|         1887|    3115|Demitasse cup and...|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1967|         American|The American Wing|      false|         false|         1902|    4730|          Lamp shade|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1883|           French|The American Wing|      false|         false|         1800|    5158|           Medallion|       0|        [french]|[0.07720941305160...|            5.0|(16,[5],[1.0])|
|         1933|         American|The American Wing|      false|         false|         1850|    5347|                 Mug|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1933|         American|The American Wing|      false|         false|         1830|    5812|           Cream pot|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1933|         American|The American Wing|      false|         false|         1805|    5837|           Cream pot|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1961|         American|The American Wing|      false|         false|         1886|    5841|             Pitcher|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1933|         American|The American Wing|      false|         false|         1820|    8723|               Tongs|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1969|         American|The American Wing|      false|         false|         1885|    6572|             Platter|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
|         1913|         American|The American Wing|      false|         false|         1775|    8197|             Tankard|       0|      [american]|[0.05077309161424...|            5.0|(16,[5],[1.0])|
+-------------+-----------------+-----------------+-----------+--------------+-------------+--------+--------------------+--------+----------------+--------------------+---------------+--------------+
only showing top 20 rows

In [178]:
df5 = df5.drop('artistNationality')
df5 = df5.drop('department')
df5 = df5.drop('nationalityWords')
df5 = df5.drop('departmentIndex')
df5 = df5.drop('objectID')
df5.show()

+-------------+-----------+--------------+-------------+--------------------+--------+--------------------+--------------+
|accessionYear|isHighlight|isTimelineWork|objectEndDate|          objectName|isFemale|      nationalityVec|departmentCode|
+-------------+-----------+--------------+-------------+--------------------+--------+--------------------+--------------+
|         1979|      false|         false|         1907|                Coin|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1989|      false|         false|         1814|             Andiron|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1946|      false|         false|         1880|                Bowl|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1950|      false|         false|         1889|             Drawing|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1969|      false|         false|         1885|      Luncheon plate|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1946|      false|         false|         1798|              Mantel|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1883|      false|         false|         1830|               Medal|       0|[0.07720941305160...|(16,[5],[1.0])|
|         1983|      false|         false|         1850|                Lamp|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1913|      false|         false|         1774|            Fragment|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1946|      false|         false|         1890|              Goblet|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1969|      false|         false|         1887|Demitasse cup and...|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1967|      false|         false|         1902|          Lamp shade|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1883|      false|         false|         1800|           Medallion|       0|[0.07720941305160...|(16,[5],[1.0])|
|         1933|      false|         false|         1850|                 Mug|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1933|      false|         false|         1830|           Cream pot|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1933|      false|         false|         1805|           Cream pot|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1961|      false|         false|         1886|             Pitcher|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1933|      false|         false|         1820|               Tongs|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1969|      false|         false|         1885|             Platter|       0|[0.05077309161424...|(16,[5],[1.0])|
|         1913|      false|         false|         1775|             Tankard|       0|[0.05077309161424...|(16,[5],[1.0])|
+-------------+-----------+--------------+-------------+--------------------+--------+--------------------+--------------+
only showing top 20 rows

In [179]:
from pyspark.sql.functions import when
df6 = df5.withColumn('isHighlightInt', when(df5.isHighlight == True, 1).otherwise(0)).drop('isHighlight')
df6 = df6.withColumn('isTimelineWorkInt', when(df5.isTimelineWork == True, 1).otherwise(0)).drop('isTimelineWork')

In [180]:
# change strings in nationality column to list of tokens, which is just each word in the string
objectNameTokenizer = Tokenizer(outputCol="objectNameWords")
objectNameTokenizer.setInputCol("objectName")
df7 = objectNameTokenizer.transform(df6)

In [181]:
# using word2vec on objectName
word2vecObject = Word2Vec(vectorSize=5, inputCol="objectNameWords", outputCol='objectNameVec', seed=456)
m5 = word2vecObject.fit(df7)
df7 = m5.transform(df7)
df7.show()

+-------------+-------------+--------------------+--------+--------------------+--------------+--------------+-----------------+--------------------+--------------------+
|accessionYear|objectEndDate|          objectName|isFemale|      nationalityVec|departmentCode|isHighlightInt|isTimelineWorkInt|     objectNameWords|       objectNameVec|
+-------------+-------------+--------------------+--------+--------------------+--------------+--------------+-----------------+--------------------+--------------------+
|         1979|         1907|                Coin|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|              [coin]|[0.0,0.0,0.0,0.0,...|
|         1989|         1814|             Andiron|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|           [andiron]|[0.0,0.0,0.0,0.0,...|
|         1946|         1880|                Bowl|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|              [bowl]|[-0.0416684746742...|
|         1950|         1889|             Drawing|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|           [drawing]|[0.53829401731491...|
|         1969|         1885|      Luncheon plate|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|   [luncheon, plate]|[-0.0137707646936...|
|         1946|         1798|              Mantel|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|            [mantel]|[0.0,0.0,0.0,0.0,...|
|         1883|         1830|               Medal|       0|[0.07720941305160...|(16,[5],[1.0])|             0|                0|             [medal]|[-0.0558659806847...|
|         1983|         1850|                Lamp|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|              [lamp]|[0.0,0.0,0.0,0.0,...|
|         1913|         1774|            Fragment|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|          [fragment]|[0.0,0.0,0.0,0.0,...|
|         1946|         1890|              Goblet|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|            [goblet]|[0.0,0.0,0.0,0.0,...|
|         1969|         1887|Demitasse cup and...|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[demitasse, cup, ...|[0.05698044877499...|
|         1967|         1902|          Lamp shade|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|       [lamp, shade]|[0.0,0.0,0.0,0.0,...|
|         1883|         1800|           Medallion|       0|[0.07720941305160...|(16,[5],[1.0])|             0|                0|         [medallion]|[0.05281189829111...|
|         1933|         1850|                 Mug|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|               [mug]|[0.0,0.0,0.0,0.0,...|
|         1933|         1830|           Cream pot|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|        [cream, pot]|[-0.0456454753875...|
|         1933|         1805|           Cream pot|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|        [cream, pot]|[-0.0456454753875...|
|         1961|         1886|             Pitcher|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|           [pitcher]|[0.0,0.0,0.0,0.0,...|
|         1933|         1820|               Tongs|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|             [tongs]|[0.0,0.0,0.0,0.0,...|
|         1969|         1885|             Platter|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|           [platter]|[0.0,0.0,0.0,0.0,...|
|         1913|         1775|             Tankard|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|           [tankard]|[0.0,0.0,0.0,0.0,...|
+-------------+-------------+--------------------+--------+--------------------+--------------+--------------+-----------------+--------------------+--------------------+
only showing top 20 rows

In [182]:
df8 = df7.drop('objectName')
df8 = df8.drop('objectNameWords')
df8.show()

+-------------+-------------+--------+--------------------+--------------+--------------+-----------------+--------------------+
|accessionYear|objectEndDate|isFemale|      nationalityVec|departmentCode|isHighlightInt|isTimelineWorkInt|       objectNameVec|
+-------------+-------------+--------+--------------------+--------------+--------------+-----------------+--------------------+
|         1979|         1907|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
|         1989|         1814|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
|         1946|         1880|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0416684746742...|
|         1950|         1889|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.53829401731491...|
|         1969|         1885|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0137707646936...|
|         1946|         1798|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
|         1883|         1830|       0|[0.07720941305160...|(16,[5],[1.0])|             0|                0|[-0.0558659806847...|
|         1983|         1850|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
|         1913|         1774|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
|         1946|         1890|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
|         1969|         1887|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.05698044877499...|
|         1967|         1902|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
|         1883|         1800|       0|[0.07720941305160...|(16,[5],[1.0])|             0|                0|[0.05281189829111...|
|         1933|         1850|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
|         1933|         1830|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0456454753875...|
|         1933|         1805|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0456454753875...|
|         1961|         1886|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
|         1933|         1820|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
|         1969|         1885|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
|         1913|         1775|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|
+-------------+-------------+--------+--------------------+--------------+--------------+-----------------+--------------------+
only showing top 20 rows

In [187]:
df8 = df8.withColumn('accessionYearInt', df8.accessionYear.cast(IntegerType())).drop('accessionYear')\
         .withColumn('objectDate', df8.objectEndDate.cast(IntegerType())).drop('objectEndDate')
df8.show()

+--------+--------------------+--------------+--------------+-----------------+--------------------+----------------+----------+
|isFemale|      nationalityVec|departmentCode|isHighlightInt|isTimelineWorkInt|       objectNameVec|accessionYearInt|objectDate|
+--------+--------------------+--------------+--------------+-----------------+--------------------+----------------+----------+
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1979|      1907|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1989|      1814|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0416684746742...|            1946|      1880|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.53829401731491...|            1950|      1889|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0137707646936...|            1969|      1885|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1946|      1798|
|       0|[0.07720941305160...|(16,[5],[1.0])|             0|                0|[-0.0558659806847...|            1883|      1830|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1983|      1850|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1913|      1774|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1946|      1890|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.05698044877499...|            1969|      1887|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1967|      1902|
|       0|[0.07720941305160...|(16,[5],[1.0])|             0|                0|[0.05281189829111...|            1883|      1800|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1933|      1850|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0456454753875...|            1933|      1830|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0456454753875...|            1933|      1805|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1961|      1886|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1933|      1820|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1969|      1885|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1913|      1775|
+--------+--------------------+--------------+--------------+-----------------+--------------------+----------------+----------+
only showing top 20 rows

In [192]:
features = df8.columns
features.remove('isHighlightInt')
vector = VectorAssembler(inputCols=features, outputCol='features')
vec_train = vector.transform(df8)
vec_train.show()

+--------+--------------------+--------------+--------------+-----------------+--------------------+----------------+----------+--------------------+
|isFemale|      nationalityVec|departmentCode|isHighlightInt|isTimelineWorkInt|       objectNameVec|accessionYearInt|objectDate|            features|
+--------+--------------------+--------------+--------------+-----------------+--------------------+----------------+----------+--------------------+
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1979|      1907|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1989|      1814|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0416684746742...|            1946|      1880|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.53829401731491...|            1950|      1889|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0137707646936...|            1969|      1885|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1946|      1798|(30,[1,2,3,4,5,11...|
|       0|[0.07720941305160...|(16,[5],[1.0])|             0|                0|[-0.0558659806847...|            1883|      1830|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1983|      1850|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1913|      1774|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1946|      1890|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.05698044877499...|            1969|      1887|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1967|      1902|(30,[1,2,3,4,5,11...|
|       0|[0.07720941305160...|(16,[5],[1.0])|             0|                0|[0.05281189829111...|            1883|      1800|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1933|      1850|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0456454753875...|            1933|      1830|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[-0.0456454753875...|            1933|      1805|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1961|      1886|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1933|      1820|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1969|      1885|(30,[1,2,3,4,5,11...|
|       0|[0.05077309161424...|(16,[5],[1.0])|             0|                0|[0.0,0.0,0.0,0.0,...|            1913|      1775|(30,[1,2,3,4,5,11...|
+--------+--------------------+--------------+--------------+-----------------+--------------------+----------------+----------+--------------------+
only showing top 20 rows

In [ ]:
regularizationParam = 0.
from pyspark.ml.classification import LogisticRegression
logReg = LogisticRegression(labelCol='isHighlightInt')
logReg.setRegParam(regularizationParam)
logReg.setFeaturesCol('features')
logReg.setProbabilityCol('probability')
regModel = logReg.fit(vec_train)

In [225]:
summary = regModel.summary
summary.accuracy
summary.fMeasureByThreshold.show()

+--------------------+-------------------+
|           threshold|          F-Measure|
+--------------------+-------------------+
|  0.5006320358126095|                0.2|
| 0.42904976266737627|0.16666666666666666|
| 0.34437579956930786|0.14285714285714288|
|  0.2863215411637472|               0.25|
| 0.23990211818975604|0.33333333333333326|
| 0.15343274382417604|                0.4|
|  0.1492840344676416|0.36363636363636365|
| 0.13990995668508777| 0.3333333333333333|
| 0.13556598792045194| 0.3846153846153846|
| 0.13497756913321268| 0.4285714285714285|
| 0.11173487059727583|0.39999999999999997|
| 0.10321888582207406|              0.375|
| 0.06070314206155525| 0.3529411764705882|
| 0.05772800416464863| 0.3333333333333333|
|0.054508618267066655|0.31578947368421056|
|0.032817157892538584|                0.3|
|  0.0247140691803317| 0.2857142857142857|
|0.022397008527390794| 0.3181818181818182|
| 0.01676201907222752|0.30434782608695654|
|0.014699811399649265|0.29166666666666663|
+--------------------+-------------------+
only showing top 20 rows

In [170]:
spark.stop()